html, body {
    height: 100%;
    color: #494949;
}

body { 
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FAFFFF;
}

.social-icons {
    margin-top: 60px;
}

.social-icons span {
    padding-left: 3px;
    padding-right: 3px;
}

.social-icons > a:link,
.social-icons > a:visited {
    text-decoration: none;
    color: #494949;
}

.social-icons > a:hover {
    color: #459ad0;
    transition: color 1s ease;
}

.hidden {
    display: none;
    position: absolute;
    left: 0;
    border: 1px solid lightgrey;
    padding: 12px 16px;
}

.hidden span {
    flex: 0 50%;
    color: #494949;
}

.hover-me {
    position: relative;
    cursor: pointer;
}

.hover-me:hover {
    color: #459ad0;
    transition: color .5s ease;
}

.hover-me:hover .hidden  {
    display: flex;
    flex-wrap: wrap;
}