html, body {
    height: 100%;
}

body { 
    margin: 0;
    padding: 0;
    position: relative;
}

body:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/bg.jpg); 
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #459ad0;
    opacity : 0.8;
    z-index: -1;
}

@media only screen and (max-width: 767px) {
  body {
    background-image: url(../images/bg.jpg);
  }
}

header {
    position: absolute;
    color: #fff;
    font-family: 'Merriweather', serif;
    top: 25%;
    left: 10%;
    right: 10%;
    font-size: 1.5em;
}

@media only screen and (min-width: 768px) {
    header {
        top: 30%;
        left: 20%;
        right: 20%;
    }
}

@media only screen and (min-width: 1280px) {
    header {
        left: 30%;
        right: 20%;
    }
}

.social-icons {
    margin-top: 60px;
}

.social-icons span {
    padding-right: 5px;
}

.social-icons > a:link,
.social-icons > a:visited {
    color: #fff;
    text-decoration: none;
}

.social-icons > a:hover {
    color: #459ad0;
    transition: color 1s ease;
}